.chart-container {
  height: calc(100vh - 81px);
  display: flex;
  flex-direction: column;
  margin: 0 10px;
  padding-top: 30px;
}

.chart-current-algo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: x-large;
  color: var(--grey);
  margin-bottom: 10px;
}

#array-bar {
  border: 1px solid var(--grey);
  border-bottom: none;
}

button#array-generate:disabled {
  opacity: 50%;
  transition: all 0.5s ease-in-out;
  cursor: not-allowed;
}

.bar {
  background-color: white;
  /* transition: all 0.2s ease-out; */
}

.bar.inactive {
  background-color: white;
  transition: all 0.1s ease-in;
}

.bar.active {
  background-color: lightblue;
  transition: all 0.1s ease-out;
}

.bar.searching {
  background-color: red;
  transition: all 0.1s ease-out;
}

.bar.finished {
  background-color: lightgreen;
  transition: all 0.1s ease-out;
}

#array-container {
  max-width: 100vw;
  display: flex;
  height: 75%;
  border-bottom: 1px solid black;
  align-items: flex-end;
  justify-content: space-around;
  padding: 0 10px;
}


#array-generate {
  background-color: var(--grey);
  border:none;
  color: white;
  border-radius: 4px;
  width: 150px;
  height: 50px;
  margin: 0 15px;
}

#array-button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 900px) {
  .chart-container {
    margin: 0;
  }
}

@media screen and (max-width: 450px) {
  #array-button-container {
    justify-content: space-around;
    padding: 0;
  }

  #array-generate {
    height: 40px;
    margin: 0 5px;
  }
}